<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dirtystream.attack">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_dialog_alert"
        android:label="AttackApp"
        android:theme="@style/Theme.AppCompat.Light"
        android:process=":shared">

        <activity
            android:name=".AttackActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".MaliciousContentProvider"
            android:authorities="com.example.dirtystream.attack.provider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:process=":shared" />

    </application>
</manifest>